@import 'nib'
@import 'jeet'
@import 'base/variables'
@import 'base/mixins'
@import 'pages/menu'
@import 'pages/slider'
@import 'pages/home'
@import 'pages/about'
@import 'pages/dashboard'
@import 'pages/footer'
*
	margin 0
	padding 0
.espacio
	background-color white
	height 50px
	width 100%